<section class="block container block-domain">
  <header class="block__header">
    <h2>Przykladowy Teskt</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi,
      corporis?
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter your text" />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="icons/sprite.svg#search"></use></svg
      >Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">1111</span></li>
    <li>2222</li>
    <li>3333</li>
    <li>4444</li>
    <li>5555</li>
    <li>6666</li>
  </ul>
</section>
