<nav class="nav">
  <a href="€"><img src="/images/logo.png" alt="logo" /></a>
  <svg>
    <use xlink:href="icons/menu.svg"></use>
  </svg>
  <ul class="list nav__list">
    <li class="nav__item"><a href="#">Terapie</a></li>
    <li class="nav__item"><a href="#">Logopedia</a></li>
    <li class="nav__item"><a href="#">Autyzm</a></li>
    <li class="nav__item"><a href="#">Webinary</a></li>
    <li class="nav__item">
      <a href="#">Linki i Artykuly</a>
    </li>
    <li class="list__item list--inline"><a href="#">Kontakt</a></li>
  </ul>
</nav>
